{% extends 'core/base.html' %}
{% load humanize%}

{% block content %}
    <div class="container" id="feedapp">
        <div class="columns">
            <div class="column is-12">
                <h1 class="title">Follows - {{user.username}}</h1>

                <p>Num: {{ user.userprofile.follows.count }}</p>
            </div>
        </div>
    <div class="columns">
        <div class="column is-8">
            {% for User in user.userprofile.follows.all %}
                <p><a href="{% url 'userprofile' User.user.username %}">{{ User.user.username}}</a></p>
            {%empty%}
                {% if request.user == user %}
                    <p>Sorry, you don't follow anyone!</p>
                {% else %}
                    <p>{{user.username}} don't follow anyone!</p>
                {% endif %}
            {% endfor %}
        </div>

    </div>
    </div>
{% endblock %}