{% extends 'core/base.html' %}
{% load humanize%}

{% block content %}
    <div class="container" id="userprofileapp">
        <div class="columns">
            <div class="column is-12">
                <h1 class="title">{{user.username}}</h1>
                {% if user.userprofile.avatar %}
                <figure class="image is-128x128">
                    <img src="{{ user.userprofile.avatar.url }}">
                </figure>
                {% endif %}
                <hr>
                <p> <a href="{% url 'followers' user.username %}"> Followers : {{user.userprofile.followed_by.count}}</a></p>
                <p> <a href="{% url 'follows' user.username %}">Follows : {{user.userprofile.follows.count}}</a></p>

                {% if user != request.user %}
                    <a href="{% url 'conversation' user.id %}" class="button is-info">Send message</a>
                    {% if request.user.userprofile in user.userprofile.followed_by.all %}
                        <a href="{% url 'unfollow_user' user.username %}" class="button is-danger">unfollow</a>
                    {% else %}
                        <a href="{% url 'follow_user' user.username %}" class="button is-success"> follow</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="columns">
            <div class="columns is-8">
                <div class="wrapper-posts">
                    {% for post in posts%}
                        <div class="post">
                            <article class="media">
                                <figure class="media-left">
                                    <p class="image is-64x64">
                                        {% if user.userprofile.avatar %}
                                            <img src="{{ user.userprofile.avatar.url }}">
                                        {% endif %}
                                    </p>
                                </figure>
                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <strong>{{post.created_by.username}}</strong>
                                            <small>{{post.created_at | naturaltime}}</small>
                                            <br>
                                            {{post.body}}
                                            <br>
                                            <a @click= "likePost({{ post.id}})" v-if="!liked_posts.includes({{ post.id}})">Like</a>
                                            <span v-if="liked_posts.includes({{post.id}})">Liked</span>
                                            <small id="likes-{{post.id}}">{{post.likes.count}} likes</small>
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    {% endfor%}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        new Vue({
            el: '#userprofileapp',
            delimiters:['[[',']]'],
            data(){
                return {
                    liked_posts: [{%for post in posts %}{% if post.liked %}{{post.id}},{% endif%}{% endfor %}]
                }
            },
            methods: {
                likePost(post_id){
                    this.liked_posts.push(parseInt(post_id));

                    var post = {
                        'post_id': post_id
                    };
                    fetch('/api/add_like/',{
                            method:'POST',
                            headers:{
                                'Content-Type': 'application/json',
                                'X-CSRFToken': '{{csrf_token}}'
                            },
                            credentials: 'same-origin',
                            body: JSON.stringify(post)
                        })
                        .then((response) => {
                            console.log(response);

                        })
                        .catch((error)=>{
                            console.log(error);
                        });
                        const el = document.getElementById('likes-'+ post_id);
                        const likes = parseInt(el.innerHTML.split(' ')[0]+1);
                        el.innerHTML = likes + ' likes';
                }
            }
        });
    </script>

{% endblock%}