{% extends 'core/base.html' %}
{% load humanize%}

{% block content %}
    <div class="container" id="feedapp">
        <div class="columns">
            <div class="column is-12">
                <h1 class="title">Search</h1>
                <p>Search term: "{{ query }}"</p>

                <hr>

                <form action="{% url 'search'%}" method="GET0">
                    <div class="field">
                        <div class="control">
                            <input type="text" class="input" name="query" value="{{ query}}" >
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <button class="button is-success">Search</button>
                        </div>
                    </div>
                </form>

                <hr>

                <div class="search-results">
                    {% if not users and not posts %}
                    <p>No results, please try a different search term..</p>
                {% endif %}
                
                {% if users %}
                    <strong>Users</strong>

                    {% for user in users %}
                        <p><a href="{% url 'userprofile' user.username %}">{{ user.username }}</a></p>
                    {% endfor %}
                {% endif %}

                {% if posts %}
                    <strong>Posts</strong>

                    <div class="wrapper-posts">
                        {% for post in posts %}
                        <div class="post">
                            <article class="media">
                                <figure class="media-left">
                                    <p class="image is-64x64">
                                        {% if post.created_by.userprofile.avatar %}
                                            <img src="{{ post.created_by.userprofile.avatar.url }}">
                                        {% endif %}
                                    </p>
                                </figure>

                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <strong><a href="{% url 'userprofile' post.created_by.username %}">{{ post.created_by.username }}</a></strong>
                                            <small>{{ post.created_at|naturaltime }}</small>
                                            <br>
                                            {{ post.body }}
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                        {% endfor %}
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}